.interaction-data {
    color: #858991;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    display: flex;
    gap: 24px;
}

.tweet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: fit-content;
    background-color: white;
    border: 1px solid #000000;
    display: flex;
    padding: 4px;
    gap: 14px;
}

.icon {
    opacity: 0.6;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 14px;
}

.tweet {
    /* font-weight: bold; */
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

.username {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    justify-content: center;
}

.icon-data {
    display: flex;
    gap: 14px;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

p {
    margin: 0;
}
